body{
    background-size: cover;
    background: url('img/bg.jpg') no-repeat center center scroll;
    margin: 5px;
}
fn{
    font-size: 27px;
    text-align: center;
    font-family:  'Baloo', cursive;    
    letter-spacing: 2px;
}
w{
    font-size: 20px;
    text-align: center;
    font-family:  'Baloo', cursive;   
}

#colornow{
    background: black;
    border: rgb(156, 144, 144) 1px solid;
    width: 35px;
    height: 35px;
    margin: 10px;
    margin-right: 5px;
}

#widthtext{
    height: 40px;
    margin: 15px;
    height: 35px;
}

.image-bg-header{
    text-align: center;
    height: 100px;
    font-family: 'Satisfy', cursive;
    color: white;
    letter-spacing: 15px;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 0 0 12px #000000;
}

.maincanvas{
    min-width: 700px;

}
.wholepage{
    height: 80%;
    background-color: rgba(255, 255, 255, 0.61);
}


#myCanvas{
    border:#000 1px solid; 
    background-color:white;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: crosshair;
}

.funcview{
    background: rgba(255, 255, 255, 0.61);
    padding: 7px; 
    width: 80%;
    margin: 10px;
    margin-right: 5px;
    margin-left: 30px;
    margin-bottom: 0px;
    font-family:  'Baloo', cursive;
}

.funcview_fun{
    width: 80%;
    margin: 30px;
    margin-right: 5px;
}

.func{
    width: 48.5%;
    height: 35px;
    background-color: pink;
    color: white;
    border: white;
    margin-bottom: 20px;
    font-weight:600;
    transition: background 0.5s;
    font-size: 15px;
    letter-spacing: 3px;
}

.func:hover{
    background-color: rgb(255, 255, 255);
    color: pink;
    border: pink 1.5px solid;
    
}

.func2{
    width: 48.5%;
    height: 30px;
    background-color: rgb(252, 204, 74);
    color: white;
    border: white;
    margin-top: 10px;
    transition: background 0.5s;
    font-weight:600;
    font-size: 15px;
    letter-spacing: 3px;
}

.func2:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(252, 204, 74);
    border: rgb(252, 204, 74) 1.5px solid;
}

.func3{
    width: 100%;
    height: 60px;
    background-color: pink;
    color: white;
    margin-top: 20px;
    border: white;
    transition: background 0.5s;
    font-weight:600;
    font-size: 15px;
    letter-spacing: 3px;
}

.func3:hover{
    background-color: rgb(255, 255, 255);
    color: pink;
    border: pink 1.5px solid;
}



.funcname{
    width: 100%;
    height: 50px;
    background-image: url("img/1.jpg");
    background-color: rgb(255, 255, 255);
    color: white;
    margin-bottom: 3px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 500;
    font-size: 28px; 
    text-shadow: 0 0 12px #000000;
}

.now{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    padding: 3px;
}

#textsetting{
    display: none;
}

#brushsape{
    display: none;
}

#textinput{
    width: 100%;
    font-family:  'Montserrat', sans-serif;
}

#sizetext, #fonttext{
    font-family:  'Montserrat', sans-serif;
    font-size: 18px;
    margin: 3px;
    font-weight: 700;
}

#arial{
    border: white;
    width: 29%;
    font-family: 'Arial';
    margin: 3px;
    font-weight: 700;
    font-size: 16px;

}

#lobster{
    border: white;
    width: 32%;
    font-family: 'Lobster';
    margin: 3px;
    font-weight: 700;
    font-size: 16px;
}

#acme{
    border: white;
    width: 29%;
    font-family: 'Acme';
    margin: 3px;
    font-weight: 700;
    font-size: 16px;
}

#textsize1, #textsize2, #textsize3{
    width: 32%;
}

.buttoms{
    margin: 20px;
    margin-top: 10px;
}

.colorbuttom{
    width: 20px;
    height: 20px;
    border: white 1px solid;
}

.widthbuttom{
    border: white;
    margin-left: 7px;
    background-image: url("img/width.png");
}

.shapebuttom{
    width: 32%;
    height: 40px;
    margin-top: 4px;
    background-color: rgb(4, 221, 149);
    color : white;
    border: white 1px solid;
    font-family:  'Montserrat', sans-serif;
    font-weight:600;
    font-size: 15px;
    letter-spacing: 2px;
    transition: background 0.5s;
}

.shapebuttom:hover{
    background-color: white;
    color : rgb(4, 221, 149);
}

.fillbuttom{
    width: 48%;
    height: 40px;
    margin-top: 4px;
    background-color: rgb(4, 189, 221);
    color : white;
    border: white 1px solid;
    font-family:  'Montserrat', sans-serif;
    font-weight:600;
    font-size: 15px;
    letter-spacing: 5px;
    transition: background 0.5s;
}

.fillbuttom:hover{
    background-color: white;
    color : rgb(4, 189, 221);
}

#red{
    background: red;
}

#ored{
    background: orangered;
}


#oran{
    background: orange;
}

#orye{
    background: rgb(255, 217, 0);
}

#yel{
    background: yellow;
}

#yegr{
    background: rgb(208, 255, 0);
}
#gr{
    background: rgb(94, 255, 0);
}
#grbl{
    background: rgb(0, 255, 106);
}
#grblbl{
    background: rgb(0, 255, 213);
}
#bl{
    background: rgb(0, 217, 255);
}
#dbl{
    background: rgb(0, 110, 255);
}
#dblp{
    background: rgb(47, 0, 255);
}
#pur{
    background: rgb(162, 0, 255);
}
#purpi{
    background: rgb(225, 0, 255);
}
#dpi{
    background: rgb(255, 0, 221);
}
#rpi{
    background: rgb(255, 0, 140);
}
#whi{
    background: white;
}
#bla{
    background: black;
}

#w0{
    width: 7px;
    height: 10px;
}

#w1{
    width: 10px;
    height: 13px;
}
#w2{
    width: 12px;
    height: 16px;
}
#w3{
    width: 16px;
    height: 19px;
}
#w4{
    width: 19px;
    height: 22px;
}
#w5{
    width: 22px;
    height: 25px;
}
#w6{
    width: 25px;
    height: 28px;
}
#w7{
    width: 28px;
    height:31px;
}
#w8{
    width: 31px;
    height: 33px;
}